.DS_Store
PlayolaFrameworkTester.xcworkspace/xcuserdata/briankeane.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PlayolaFrameworkTester.xcworkspace/xcuserdata/briankeane.xcuserdatad/UserInterfaceState.xcuserstate